# Python cache
__pycache__/
*.py[cod]
*$py.class

# Virtual Environment
env/
venv/
.venv/

# Django stuff
*.sqlite3
/media/
staticfiles/
static_root/
*.log

# Environment variables
.env

# IDE / Editor
.vscode/
.idea/

# OS files
.DS_Store
Thumbs.db
